@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&display=swap");
@import url("https://necolas.github.io/normalize.css/8.0.1/normalize.css");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: 'Fredoka', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html {
  scroll-behavior: smooth;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* HEADER PART  */
.header {
  background-color: #fff;
}

/* MAIN PART  */
.todo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.todo__box {
  min-width: 500px;
  background-color: darkgreen;
  border-radius: 4px;
  color: #fff;
  padding: 30px 0;
}

.todo__header {
  padding: 0 30px;
  margin-bottom: 20px;
}

.todo__title {
  font-size: 46px;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.todo__info {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  padding-bottom: 15px;
  border-bottom: 1px solid #fff;
}

.todo__list {
  list-style-type: none;
  padding: 20px 0;
  margin-bottom: 20px;
}

.todo__itemnone {
  font-size: 22px;
  font-style: italic;
  text-align: center;
}

.todo__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff5e;
  padding: 15px 30px;
  margin-bottom: 5px;
}

.todo__item:hover .todo__text::after {
  width: 100%;
}

.todo__text {
  position: relative;
  font-size: 20px;
}

.todo__text::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 50%;
  display: inline-block;
  width: 0%;
  height: 1px;
  background-color: #fff;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.todo__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 20px;
}

.todo__checkbox {
  padding-top: 2px;
  margin-right: 5px;
}

.todo__main {
  padding: 0 30px;
}

.todo__subtitle {
  font-size: 26px;
  font-weight: 400;
  margin-bottom: 10px;
}

.todo__input {
  min-width: 300px;
  background: none;
  border: none;
  background-color: #fff;
  border-radius: 2px;
  font-size: 18px;
  padding: 12px 10px;
  color: #00000094;
}

.todo__input:focus {
  outline: none;
  -webkit-box-shadow: #00000059 0px 5px 15px;
          box-shadow: #00000059 0px 5px 15px;
}

.todo__btn {
  background: none;
  border: 1px solid #ffffffbd;
  border-radius: 2px;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0.2px;
  color: #fff;
  padding: 12px 15px;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.todo__btn:hover {
  background-color: #048104;
}

.todo__icontrash {
  font-size: 20px;
  color: #fff;
}

.todo__iconcheck {
  font-size: 26px;
  color: #fff;
}

.todo__all {
  padding: 0 30px;
  margin-bottom: 30px;
}

.todo__btns {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 20px;
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  padding: 10px 20px;
  margin-right: 15px;
}

.todo__btns:hover {
  background-color: #048104;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
}

.none {
  display: none;
}

/* FOOTER PART */
.footer {
  background-color: #fff;
}

/* HERO PART  */
/*# sourceMappingURL=main.css.map */